/* Pacificatch Website CSS */


/* CSS Font Family */
/*
font-family: 'Chewy', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Shadows Into Light Two', cursive;
*/
/* Body */
body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin: 0;
  font-size:16px;
}

h3 {
  font-family: 'Nanum Pen Script', cursive;
}

p {
  font-family: 'Rokkitt', serif;
  font-weight: bold;
}

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 6.25rem;
  font-weight: bold;
}


/* The navigation bar */
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 5rem;
  width: auto;
}


/* Links inside the navbar */
.navbar a {
  float: left;
  padding-left: 16px;
  padding-right: 16px;
}
/* Navbar Image */
.logo {
  height: 5rem;
  width: auto;
}
.navbar-img {
  width: 4rem;
  height: 4rem;
}

/* Change background on mouse-over */
.navbar-img a:hover {
  background-color: #d63447;
  color: #d63447;
}

/* Gallery */

.image {
  width: 300px;
  height: auto;
}

.Gallery {
  margin: 3.125rem auto;
}
